.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1rem;
    color: black;
    box-shadow: 0 0 1.5rem white,
    0 0 1.2rem white,
    0 0 1.0rem white,
    0 0 0.8rem white,
    0 0 0.6rem white;        
    background-color: white;
    position: relative;
    top: 2rem;
    left: 4rem;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-big{
    font-size: 1.75rem;
}


.bg-dark-blue {
    background: gray;
}

.bg-light-blue{
    background: gray;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}



