#navbar {
    background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 5rem;
    
    
}

html{
    font-family: cursive;
}

body{
    background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: stretch;
    position: relative;
    top: 2rem;
    left: 0rem;
    
}

#navbar ul li a{
    padding: 1.0rem;
    box-shadow: 0 0 1.5rem white,
    0 0 1.2rem grey,
    0 0 1.0rem grey,
    0 0 0.8rem grey,
    0 0 0.6rem grey;     
    background: black;
    border-radius: 20px;
    font-size: 0.8rem;
    width: 1.2rem;
    margin: 0.30rem;
}


#home img{
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 100%;
    position: relative;
    left: 0rem;
    top: 1rem;
    justify-content: space-around;
}
#home .name {
    text-align: center;
    position: relative;
    left: 0rem;
    top: 1rem;
}

#home {
    border-style: none;
}

.deneme h3{
    font-size: 1.5rem;
    position: relative;
    top: 2rem;
    left: 0rem;
}
.deneme p{
    font-size: large;
    position: relative;
    top: 3rem;
    left: 0rem;
    
}

.sosyal {
    position: relative;
    top: -13rem;
    left: 1rem;
    transform: translate(-50%,-50%);
    display: inline;
}

.sosyal {
    margin: 0;
    padding: 0;
    text-decoration: none;
    position: absolute;
    top: 47em;
    left: 10rem;
    transform: translate(-50%,-50%);
    display: inline;
}

.sosyal div{
    display: inline;
}
.sosyal div a{
    display: inline-flex;
    height: 1.75rem;
    width: 1.75rem;
    background: black;
    font-size: 0.95rem;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.sosyal a i{
    transition: 0.5s all;
}

.sosyal a:hover > i{
    transform: scale(1.6) rotate(360deg);
}

.sosyal .git a:hover{
    background: grey
}

.sosyal .linkedin a:hover{
    background: darkblue;
   
}

.sosyal .mail a:hover{
    background: red;
}

.sosyal .ınsta a:hover{
    background: #7315c6;
}

.sosyal .twit a:hover{
    background: #1da1f2;
}
 




